[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Presentations - Google Drive
Type=Link
URL=https://drive.google.com/drive/folders/0BxhPEaAj4ySeWlBaWlAyQTJ4SzA
Icon=text-html
